JWT_SECRET_KEY=
SMTP_USER=
SMTP_FROM_EMAIL=
GOOGLE_APP_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
R2_BUCKET_NAME=
R2_TOKEN=
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_ACCESS_KEY_SECRET=
R2_REGION=
REDIS_URL=
PORT=
